:root {
   --main-title-color: #FFFFFF;
   --second-title-color: #2E2F42;
   --main-btn-color: #FFFFFF;
   --primary-btn-bg-color:#4D5AE5;
   --secondary-btn-bg-color:#F4F4FD;
   --accent-btn-bg-color:#404BBF;
   --title-text-color:#434455;
   --accent-color:#4D5AE5;
   --background-color:#F4F4FD;
   --background: #FFFFFF;
   --footer-text-color: #E7E9FC;
   --footer-logo-color: #F4F4FD;
   --border-color: #E7E9FC;
   --card-set-gap: 24px;
   --box-shadow-btn: rgba(0, 0, 0, 0.15);
   --box-shadow-card:rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
    rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   --box-shadow-filter:rgba(0, 0, 0, 0.1),
      0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}


 
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
 ul {
    margin: 0;
    padding-left: 0;
 }

 img{
    display: block;
    max-width: 100%;
    height: auto;
}

 body {
     font-family: 'Roboto', sans-serif;
     
     
 }
 .nav-link:hover,
 .nav-link:focus,
 .nav-link.current{
     color:var(--accent-color)

 }

 .address-link:is(:hover, :focus) {
     color:var(--accent-color);
  }
 .btn:is(:hover, :focus) {
     background-color: var(--accent-btn-bg-color);
     
  }
 .filter-button:is(:hover, :focus){
     color:var(--main-btn-color);
     background-color:var(--accent-btn-bg-color);
     box-shadow: 0px 3px 1px var(--box-shadow-filter);

   
   }

 .link {
     text-decoration: none;
 }
 .list {
     list-style: none;
     padding: 0px;
     margin: 0px;
 }
 .title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em; 
 }
 .text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }
 .logo {
     font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.33;
     letter-spacing: 0.03em;
     text-transform: uppercase;
 }
 .section {
    padding-top: 120px;
    padding-bottom: 120px;
 }

    
 /* ----------HEADER----------- */

 .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
 } 
 .header-container{
    display: flex;
    align-items: center;
 }
 .container {
    outline: 2px solid;
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    
    
 }
 .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
 }
 .header-logo {
    margin-right: 76px;
     color: var(--second-title-color);
   
 }
 .header-logo-accent{
     color: var(--accent-color);
 }
 .nav-list {
    display: flex;
    gap: 40px;
 }
 .nav-list{
    
 }
 .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--second-title-color);
 } 
 .address-list {
    display: flex;
    gap: 40px;
    
}
 .address-link {
   display: block;
   padding-top: 24px;
   padding-bottom: 24px;

   color: var(--title-text-color);

   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   
   
   
}
 
  
   /* ----------HERO----------- */
 .hero {
    padding-top: 188px ;
    padding-bottom: 188px ;
    text-align: center;
    background-color: var(--second-title-color);
    
 }
 .hero-container {
   outline: 2px solid;
   max-width: 496px;
   margin: 0px auto;
 }
   
 .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-top: 0px;
    margin-bottom: 48px;
          
    color: var(--main-title-color);
   
    
 }

 .hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;

    box-shadow: 0px 4px 4px var(--box-shadow);
    background: var(--primary-btn-bg-color);
    color: var(--main-btn-color);
    cursor: pointer;
 }
 
/* ----------BENEFITS----------- */
 .benefits {
 }

 .visually-hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0000);
  clip-path: inset(50%);
  margin: -1px;
 }

 .benefits-list {
    display: flex;
    gap: var(--card-set-gap);
 }
 .benefits-item {
    max-width: 264px;
 }

 .benefits-title {
    color: var(--second-title-color);
    margin-bottom: 8px;
 }

 .benefits-text {
     color: var(--title-text-color);
     
 }
 /* ----------GALLERY----------- */
 .gallery {
   padding-bottom: 120px;
 }
 .gallery-title {
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     margin-bottom: 72px;
     color: var(--second-title-color);
 }

 .gallery-list{
    display: flex;
    gap: var(--card-set-gap);
    
        
 }
 .gallery-item {
    width: calc((100% - 48px) / 3);
    margin: 24px;
 }

 /* ----------TEAM----------- */
 .team {
    background: var(--background-color);
 }
 .team-title {
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     letter-spacing: 0.02em;
     margin-bottom: 72px; 
           
     color: var(--second-title-color);
 }

 .team-list {
    display: flex;
    gap: var(--card-set-gap);
}
    
        
 .team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--background);
    box-shadow: 0px 1px 6px 
    
    
 }
 .team-item-wrap {
    padding-top: 32px;
    padding-bottom: 32px;  
    text-align: center;
 }

 .team-item-title {
    color: var(--second-title-color);
    margin-bottom: 8px;
    
 }
 .team-item-text {
    color: var(--title-text-color);
 }
/* ----------FILTER----------- */
.visually-hidden{}
.buttons {
  padding-top: 96px;
  
  }

.buttons-list {
    display: flex;
    gap: var(--card-set-gap);
    justify-content: center;
    
}
.button-item {
    
 }

.filter-button {
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     padding: 12px 24px; 
     border-radius: 4px;
     border: 1px solid var(--border-color);
     color: var(--accent-color);
     background: var(--secondary-btn-bg-color);
     cursor: pointer;
}

/* ----------PROJECT----------- */
.visually-hidden {}
.project {
   padding-bottom: 120px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-top: 72px;
    
   
}
.project-item {
    width: calc((100% - 48px) / 3);
    
     
}
.project-item-wrap {
    
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid var(--border-color);
    border-top: none;

    background: var(--background)
}
.project-link {}


.project-title {
    margin-bottom: 8px;
    color: var(--second-title-color);
}
.project-text {
     color: var(--title-text-color);
}

 /* ----------FOOTER----------- */
 .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--second-title-color);
 }
 .footer-container {
     display: flex;
     align-items: center;
 }
 .footer-logo {
     font-family: 'Raleway',sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color:var(--footer-logo-color)
 }
.footer-logo-accent {
     font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing:  0.03em;
     color: var(--accent-color);   
}
.footer-text {
     margin-top: 16px;
     max-width: 264px;
     color:var(--footer-text-color); 
 }  